application:
  allowedOrigin:
    - 'http://localhost:4200' 
eureka:
  client:
    serviceUrl:
      defaultZone: ${EUREKA_URI:http://10.1.22.72:8761/eureka}
spring:
  main:
    allow-bean-definition-overriding: true

  application:
    name: RTGS-SERVICE
  datasource:
    username: sa
    password: cvdfgdfg
    url: jdbc:sqlserver://localhost:1433;encrypt=false;instanceName=EBSQLSRV;databaseName=xyz;encrypt=false
  jackson:
    serialization:
      fail-on-empty-beans: false
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.SQLServer2012Dialect
        format_sql: true
  #    show-sql: true
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8089/auth/realms/maze
client:
  hr:
    baseUrl: http://localhost:1010/hr
