application:
  allowedOrigin:
    - 'http://localhost:4200'
eureka:
  client:
    serviceUrl:
      defaultZone:""
spring:
  main:
    allow-bean-definition-overriding: true

  application:
    name: RTGS-SERVICE
  datasource:
    username: saddd
    password: xyz
    url: jdbc:sqlserver://localhost:1433;encrypt=false;instanceName=EBSQLSRV;databaseName=xyz;encrypt=false
  jackson:
    serialization:
      fail-on-empty-beans: false
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.SQLServer2012Dialect
        format_sql: true
  #    show-sql: true
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri:""
client:
  hr:
    baseUrl: ""
